@font-face {
    font-family: 'Luckiest Guy';
    src: url('../fonts/LuckiestGuy-Regular.woff2') format('woff2'),
        url('../fonts/LuckiestGuy-Regular.woff') format('woff'),
        url('../fonts/LuckiestGuy-Regular.ttf') format('truetype'),
        url('../fonts/LuckiestGuy-Regular.svg#LuckiestGuy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'game';
  src:
    url('../fonts/game.ttf?ova0ge') format('truetype'),
    url('../fonts/game.woff?ova0ge') format('woff'),
    url('../fonts/game.svg?ova0ge#game') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'game' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-gamepad:before {
  content: "\e908";
}
.icon-dice-with-five-dots:before {
  content: "\e90b";
}
.icon-earth:before {
  content: "\e900";
}
.icon-revolver:before {
  content: "\e901";
}
.icon-th-menu:before {
  content: "\e902";
}
.icon-arrow-down-thick:before {
  content: "\e903";
}
.icon-arrow-up-thick:before {
  content: "\e904";
}
.icon-arrow-left-thick:before {
  content: "\e905";
}
.icon-arrow-right-thick:before {
  content: "\e906";
}
.icon-copyright:before {
  content: "\e907";
}
.icon-dots-three-horizontal:before {
  content: "\e909";
}








