footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    .main_site_logo{
        display: inline-block;
        padding-right: 0;
    }
    background: url(../assets/bottom2.png) bottom center;
    background-repeat: repeat-x; 
}
.footer_logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .rand_btn{
        margin-left: 1rem;
        .icon{
            font-size: 18px;
        }
    }
}
.bottom_copy{
    font-family: 'Luckiest Guy', $base-font-family;;
    font-weight: normal;
    font-style: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    height: 100%;
    .icon{
        font-size: 16px;
    }
    >a{
        color: #4A4A4A;
        white-space: nowrap;
        &:hover{
            color: darken($orange, 11);
        }
    }
}
.scroll_top_cnt{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}
@media screen and (max-width: 900px){
    .bottom_copy{
        font-size: 14px;
    }
}
@media screen and (max-width: 620px) {
    .footer_logo{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .scroll_top_cnt {
        padding-top: .8rem;
    }
    
}