body{
	background-color: $blue;
	color: white;
	font-family: $base-font-family;
	font-weight: bold;
	font-size: 0.9rem;
	background-image: url(../assets/bg_p.png);
	background-size: 370px;
	background-repeat: repeat;
}
h1,h2,h3,h4,h5{
	font-family: 'Luckiest Guy', $base-font-family;
	font-weight: normal;
    font-style: normal;
    color: $orange;
}
img{
	width: 100%;
	height: auto;
}
a{
	&:focus{
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
*::-moz-selection{
	color: #4A4A4A;
	background-color: $green;
} 
*::selection{
	color: #4A4A4A;
	background-color: $green;
}
.icon{
	font-size: 1.2rem;
	vertical-align: middle;
}
.btn.btn-primary{
	border: none;
	border-radius: 0.2rem;
	background-color: darken($orange, 10);
	font-family: 'Luckiest Guy', $base-font-family;
	font-weight: normal;
    font-style: normal;
}
.h{
	height: 100%;
}
.site_wrap{
	overflow-x: hidden;
}
.primary{
	background-color: darken($orange, 10);
	color: white;
	padding: 0.1rem;
}
.showcase_img_cnt{
	background-color: #72543c;
	background-image: url(../assets/show_bg5.jpg);
	height: 500px;
	background-size: contain;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top left; 
	background-size: 740px ;
	h1{
		font-size: 1.5em;
	}
	h1,h3{
		color: darken($green, 11);
	}
}
.showcase_right, .showcase_left{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	&__item{
		-webkit-box-flex: 1;
		-ms-flex: 1 0 100%;
		flex: 1 0 100%;
	}
}
/* #go_to_games{*/
/* 	.icon{*/
/* 		vertical-align: text-top;*/
/* 	}*/
/* }*/
.showcase_left{
	&__item{
		-webkit-box-flex: 0;
		-ms-flex: 0 1 550px;
		flex: 0 1 550px;
		h1{
			margin-top: 0;
		}
	}
}
.showcase_right{
	text-align: center;
	position: relative;
	.sword{
		position: absolute;
		bottom: -56px;
		right: .8rem;
		background-image: url(../assets/w_sword.png);
		width: 226px;
		height: 115px; 
	}
	h3{
		margin-top: 0;
	}
}
.main, .single_post_main{
	padding-top: 2.5rem;
	min-height: calc(100vh - 200px);
}
/*game types block start*/
.game_t_block{
	margin: 0.8rem 0;
}
.game_types_cnt{
	height: 100%;
	background-color: rgba(white, 0.3);
	padding: 0.3rem;
	border-radius: 0.5rem;
	&__inner{
		padding: 0.4rem 0 0.1rem;
		height: 100%;
		border-radius: 0.5rem;
		background-color: darken($blue, 3);
		.btn_game_type{
			margin: 0.4rem;
			margin-right: 0.5rem;
			&:first-of-type{
				margin-left: 0.5rem;
			}
			&:last-of-type{
				margin-right: 0.5rem;
			}
		}
	}
	.sorting_btn_cnt{
		display: inline-block;
		white-space: nowrap;
	}	
}
.sorting_type{
	.form-group{
		margin: 0.4rem 0.5rem;
	}
}
/*game types block end*/
.games_cnt{
	min-height: 600px;
	position: relative;
}
.index_game{
	margin: 0.8rem 0;
	&__inner{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap; 
		height: 100%;
		background-color: rgba(white, 0.3);
		padding: 0.3rem;
		border-radius: 0.5rem;
		-webkit-transition: -webkit-transform 0.3s linear;
		transition: -webkit-transform 0.3s linear;
		-o-transition: transform 0.3s linear;
		transition: transform 0.3s linear;
		transition: transform 0.3s linear, -webkit-transform 0.3s linear;
		overflow: hidden;
		position: relative;
		&:hover{
			-webkit-transform: translate3d(0, -10px, 0);
			transform: translate3d(0, -10px, 0);
		}
		&--bg{
			height: 100%;
			border-radius: 0.5rem;
			background-color: darken($blue, 3);
		}

	}
	&__heading{
		padding: 0 0.5rem;
		margin-top: 1.35rem;
		margin-bottom: 0.5rem;
		font-size: 1rem;
		a{
			color: #c6e09c;
		  	&:hover{
		    	color: $orange;
		  	}
		}
	}
	&__info{
		padding: 0 0.5rem;
	}
	&__excerpt{
		padding: 0 0.5rem;
		padding-bottom: 2.5rem;
		p{
			margin: 0.3rem 0;
		}
	}
	&__play{
		position: absolute;
		bottom: 0.7rem;
		padding: 0 0 0 0.5rem;
		>.btn_play{
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}
.new_bage{
	font-size:  14px;
	font-family: $base-font-family;
	font-weight: bolder;
	line-height: 12px;
	background-color: $yellow;
    color: black;
    text-transform: uppercase;
    padding: 9px 0 7px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 130px;
    text-align: center;
    display: block;
    position: absolute;
    left: -33px;
    top: 16px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    &::before {
	    position: absolute;
	    bottom: -5px;
	    right: 5px;
	    width: 0px;
	    height: 0px;
	    border-style: solid;
	    border-width: 6px 6px 0px 6px;
	    border-color: darken($yellow, 35) transparent transparent transparent;
	    content: ".";
	    text-indent: -5000px;
	    -webkit-transform: rotate(225deg);
	    -ms-transform: rotate(225deg);
	    transform: rotate(225deg);
	}
	&::after {
	    position: absolute;
	    bottom: -5px;
	    left: 2px;
	    width: 0px;
	    height: 0px;
	    border-style: solid;
	    border-width: 6px 6px 0px 6px;
	    border-color: darken($yellow, 35) transparent transparent transparent;
	    content: ".";
	    text-indent: -5000px;
	    -webkit-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	    transform: rotate(135deg);
	}
}
/* front page thumb start*/
.thumbnail_cnt{
	margin: 0;
	position: relative;
	&__game_views{
		position: absolute;
		right: 0px;
		padding: 0.3rem;
		border-top-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		top: 0;
		z-index: 100;
		font-size: 15px;
		font-weight: bold;
		color: black;
		background-color: $yellow;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
		.icon-eye{
			font-size: 23px;
			vertical-align: sub;
		}
	}
	&__inner{
		border-top-left-radius: 0.5rem; 
		border-top-right-radius: 0.5rem;
		overflow: hidden; 
		&--related{
			border-bottom-left-radius: 0.5rem; 
			border-bottom-right-radius: 0.5rem;
		}
	}
	img{
		display: block;
		width: 100%;
		height: auto;
		-webkit-filter: opacity(.8);
		filter: opacity(.8);
		-webkit-transition: -webkit-filter 0.3s linear;
		transition: -webkit-filter 0.3s linear;
		-o-transition: filter 0.3s linear;
		transition: filter 0.3s linear;
		transition: filter 0.3s linear, -webkit-filter 0.3s linear;
		border-top-left-radius: 0.48rem;
    	border-top-right-radius: 0.48rem;
	}
	&__link{
		position: relative;
		height: 0;
		padding-bottom: 56.25%;
		display: block;
		overflow: hidden;
        background-color: lighten($blue, 1);
		&--related{
            padding-bottom: 56%;
            border-radius: 0.5rem;
		}
	}
	&--related{
		border-radius: 0.5rem;
		background-color: rgba(white, 0.3);
		padding: 0.3rem;
		&:hover img{
			-webkit-filter: opacity(1);
			filter: opacity(1);
        }
        
	}

}
.index_game{
	margin: 0.8rem 0;
	&__inner{
		&:hover img{
			-webkit-filter: opacity(1);
			filter: opacity(1);
		}
	}
}
.pad_outer{
	position: absolute;
	right: 10px;
	bottom: -34px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.pad{
	background-color:  darken($blue, 3);
	border-radius: 50%;
	width: 68px;
	height: 68px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	&--type{
		width: 44px;
		height: 44px;
	}
	.icon{
		font-size: 1.4rem;
		color: white;
		display: block;	
	}
	.icon-gamepad{
		font-size: 2.4rem;
		height: 54px;
	}
	a{
		text-decoration: none;
		.icon{
			-webkit-transition: color 0.2s linear;
			-o-transition: color 0.2s linear;
			transition: color 0.2s linear; 
		}
	}
	a:hover .icon{
		color: $green;
	}
}

/* front page thumb end*/

/* front page game loader start*/

.loader_overlay{
	position: absolute;
	top: 0;
	right: 0.8rem;
	left: 0.8rem;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 0.5rem;
	background-color: darken($blue, 3);
	z-index: 100;
	opacity: 1;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.hidden_loader{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
/* front page game loader end*/

/* pagination start*/
.pagination_links{
	position: relative;
	padding: 2rem 0;
	.next_post_link{
		position: absolute;
		right: 0;
	}
	.previous_post_link{
		position: absolute;
	}
	&--numbered{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		.page-numbers:not(.dots){
			transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
			margin: 0.2rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: 0.2rem;
			background-color: darken($orange, 10);
			font-family: 'Luckiest Guy', $base-font-family;
			font-weight: normal;
		    font-style: normal;
		    background-color: darken($orange, 10);
		    border-color: $primary-color-dark;
		    color: $light-color;
		    &:focus,
		    &:hover {
		      background: darken($primary-color-dark, 2%);
		      border-color: darken($primary-color-dark, 5%);
		      color: $light-color;
		    }
		    &:focus{
		    	-webkit-box-shadow: 0 0 0 0.1rem rgba(227,3,26,0.2);
		    	box-shadow: 0 0 0 0.1rem rgba(227,3,26,0.2);
		    }
		    &:active,
		    &.current {
		      background: darken($primary-color-dark, 4%);
		      border-color: darken($primary-color-dark, 7%);
		      color: $green;
		      text-decoration: underline;
		    }
		}
		.page-numbers.dots{
			border-radius: 0.2rem;
			margin: 0.2rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 40px;
			height: 40px;
			background-color: darken($orange, 10);
		}
	}
}
/*pagination end*/

/*single page/post start*/
.single_post_cnt{
	line-height: 1.7;
}
.iframe_wrapper{
	padding: 2rem 0;
	&__game{
		position: relative;
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		>iframe{
			width: 1px;
    		min-width: 100%;
    		height: 100%;
    		margin-bottom: 0;
    		position: absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
		}
	}
}
.related{
	padding: 1rem 0 2rem 0;
	.related_title{
		font-weight: normal;
	}
}
.single_post{
	&__info{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	.game_description{
		position: relative;
	}
}
.game_types_cnt_single{
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	height: 100%;
	background-color: rgba(white, 0.3);
	padding: 0.3rem;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
	height: 100%;
	&__inner{
		padding: 0.3rem;
		height: 100%;
		border-radius: 0.5rem;
		background-color: darken($blue, 3);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		.icon{
			font-size: 1.5rem;
			-webkit-transition: color 0.2s linear;
			-o-transition: color 0.2s linear;
			transition: color 0.2s linear;
		}
		a{
			text-decoration: none;
			color: white;
			&:hover .icon{
				color: $green;
			}
		}
	}
}
.single_views{
	.game_types_cnt_single__inner{
		>span{
			margin: 0.2rem;	
		}
	}
}
.single_post_type_icon{
	margin: 0.2rem;
	width: auto;
	height: 30px;
}
/* Want to publish your game start*/
.loading{
	position: relative;
	display: inline-block;
    height: .8rem;
    width: 2rem;
    vertical-align: middle;
}
.loading::after {
    -webkit-animation: loading .5s infinite linear;
    animation: loading .5s infinite linear;
    border: .1rem solid $orange;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1;
}
.hidden_form_inf{
	visibility: hidden;
}
.game_success{
	color: white;
}
.game_error{
	color: $error-color;
}
.form_image{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.text-center{
	text-align: center;
}
.input-group .input-group-addon{
	color: #4A4A4A;
}
/* game suggest page start*/
.form_image{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	>img{
		max-width: 300px;
	}
}
/* game suggest page end*/

/* page 404 start*/
.page_404{
	&__image_cnt{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		>img{
			max-width: 400px;
		}
	}
}
/* page 404 end*/

/* search start*/
.search_active{
    overflow: hidden;
}
.search_active .overflow-search{
    -webkit-filter: blur(8px);
	filter: blur(8px);
}

.search_block{
	background-color: rgba(black, 0.58);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	overflow-x: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 900;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	&__close_search_cnt{
		position: absolute;
		top: 40px;
		right: 40px;
	}
	&__inner{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
		input.form-input{
		 	max-width: 240px;
		}
	}
}
.search_block_img{
	width: 100%;
	max-width: 328px;
	height: auto;
	display: block;
	margin-bottom: 1rem;
}
.search, .search_block{
	.input-group .input-group-addon{
		border-radius: .2rem;
	}
}
.hidden_search{
 	opacity: 0;
 	visibility: hidden;
 	pointer-events: none;
}
.search_face{
	margin-top: 2rem;
	>img{
		width: 200px;
	}
}
.search_header_cnt{
	margin: 1rem 0;
	margin-top: 0.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	&__item{
		margin: 0;
		padding: 0.5rem 0;
	}
	h1{
		padding-right: 1rem;
	}
	.search_query{
		color: $yellow;
	}
}
.nothing_found{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}
/* search end*/

/* archive start*/
.separator{
	width: 50%;
	height: 4px;
	border-radius: 2px;
	background-color: $green;
	margin: 1.5rem 0 1rem 0;
}
/* archive end*/
.btn.btn-primary.yellow_btn{
    color: #4A4A4A;
    background-color: $yellow;
    &:hover, &:focus{
        background-color: darken($yellow, 20);
        color: white;
    }
}
.adblock_notice{
	max-height: 400px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
	div>h4{
		color: $green;
		display: inline-block;
		margin: 0;
	}
}
@-webkit-keyframes loading {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
/* Want to publish your game end*/

/*single page/post end*/
@media screen and (max-width: 620px) {
	.showcase_img_cnt{
		height: 616px;
		h1{
			font-size: 1.25rem;
		}
		h3{
			font-size: 1.07rem;
		}
	}
	.iframe_wrapper{
		padding: 2rem 0rem;
		&__game{
			position: relative;
			height: 500px;
			padding-bottom: 0;
		}
	}
	.separator{
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	.showcase_left{
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.search_header_cnt{
		&__item{
			-webkit-box-flex: 1;
			-ms-flex: 1 0 100%;
			flex: 1 0 100%;
		}
	}
}
@media screen and (min-width: 1021px) and (max-width: 1550px){
	.iframe_wrapper{
		padding: 2rem 4rem;
	}
}
@media screen and (min-width: 621px) and (max-width: 1020px){
	.iframe_wrapper{
		padding: 2rem;
	}
}

@media screen and (min-width: 1620px){
	.single_post__info{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		position: absolute;
		top:0;
		right: calc( 100% + 1rem );
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		.game_types_cnt_single{
			display: block;
			margin: 0.5rem 0;
			width: 62px;
			&__inner{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-flow: column wrap;
				flex-flow: column wrap;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				.single_post_type_icon{
					display: block;
					-webkit-box-flex: 1;
					-ms-flex: 1;
					flex: 1;
					-ms-flex-preferred-size: 30px;
					flex-basis: 30px;
				}
			}
		}
		.single_views{
			width: auto;
		}	
	}
	
}