.site_header_cnt{
  position: relative;
  z-index: 1;
  background-color: $green;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 2px;
}

.site_header_cnt__site_header{
  height: 74px;
  padding-left: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main_site_logo{
  padding-right: 1rem;
  >img{
    display: block;
    width: 50px;
    height: 50px;
  }
}
.main_site_header{
  display: inline-block;
  font-family: 'Luckiest Guy', $base-font-family;
  font-weight: normal;
  font-style: normal;
  color: $orange;
  font-size: 1.6rem;
  &:visited{
    color: darken($orange, 4);
  }
  &:hover{
    color: darken($orange, 15);
  }
}
.main_site_header>img{
  display: block;
}
/*top menu start*/
.nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  &__inner{
    a{
      font-family: 'Luckiest Guy', $base-font-family;
      font-weight: normal;
      font-style: normal;
    }
  }
}
.top_menu{
  list-style: none;
  padding: 0;
}
.top_menu>li{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 32px;
}
.top_menu>li:last-of-type{
  padding-right: 44px;
}
.top_menu>li>a{
  color: #4A4A4A;
}

@media screen and (max-width: 1366px) {
  .site_header_cnt__site_header{
    padding-left: 0;
  }
  .nav{
    font-size: 0.8rem;
    &__inner{
      ul{
        list-style-position: inside;
        margin: 0;
      }
    }
  }
  .top_menu>li{
    padding-left: 1rem;
  }
  .top_menu>li:last-of-type{
    padding-right: 0;
  }
}

@media screen and (max-width: 1120px) {
  .nav{
    font-size: 0.7rem;
  }
  .main_site_header{
    font-size: 1rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 900px) {
  .main_site_header{
    font-size: 1.2rem;
  }
  .top_menu>li{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 620px) {
  .main_site_header{
    font-size: 1rem;
  }
  .top_menu>li{
    padding-left: 0.5rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  .main_site_header{
    display: none;
  }
}