@import "./spectre-0.5.8/variables";
@import "./spectre-0.5.8/src/mixins";

@import "./spectre-0.5.8/src/normalize";
@import "./spectre-0.5.8/src/base";
@import "./spectre-0.5.8/src/layout";
@import "./spectre-0.5.8/src/badges";
@import "./spectre-0.5.8/src/utilities/position";
@import "./spectre-0.5.8/src/utilities/display";
@import "./spectre-0.5.8/src/forms";
@import "./spectre-0.5.8/src/buttons";
@import "./spectre-0.5.8/src/toasts";

$orange: #f86c7a;
$blue: #1a727f;
$green: #a4bc7c;
$yellow: #fed833;
$cus_white: white;

@import "fonts";
@import "mobile-menu";
@import "header";
@import "general";
@import "footer";





